.add-review {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://i.ibb.co/pXcBWF1/account-bg.jpg') no-repeat center fixed;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
}

.add-review-box {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
}

.add-review-box h4 {
    color: rgb(250, 179, 47);
}

.add-review-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-review-box form input , textarea {
    text-align: center;
    color: #fff;
    width: 300px;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid grey;
}

.add-review-box form input:focus {
    color: #fff;
    width: 300px;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid grey;
    outline: 0;
}

.add-review-box form input[type=submit] {
    width: auto;
    color: #fff;
    padding: 5px 15px;
    background-color: rgb(223, 152, 0);
    border-radius: 5px;
}

.add-review-box form input[type=submit]:hover {
    background: transparent;
    border: 1px solid rgb(255, 174, 0);
    text-shadow: 0px 0px 5px rgb(255, 174, 0);
}